@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0050cd;
  --color-primary-container: #0866ff;
  --color-on-primary: #ffffff;
  --color-secondary: #54606a;
  --color-secondary-container: #d8e4f0;
  --color-on-secondary-container: #5a6670;
  --color-background: #f7f9fc;
  --color-surface-card: #ffffff;
  --color-surface-container: #eceef1;
  --color-surface-container-low: #f2f4f7;
  --color-surface-container-high: #e6e8eb;
  --color-surface-container-highest: #e0e3e6;
  --color-border-subtle: #CED0D4;
  --color-text-primary: #1C1E21;
  --color-text-secondary: #65676B;
  --color-outline: #727687;
  --color-outline-variant: #c2c6d8;
  --color-success: #31A24C;
  --color-error: #F02849;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
