<IfModule mod_rewrite.c>
  RewriteEngine On
  # Sesuaikan RewriteBase dengan path URL Anda di Laragon
  RewriteBase /frontend/dist/
  
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /frontend/dist/index.html [L]
</IfModule>
